<%- include('includes/head.ejs') %>

<body>
  <form>
    <div class="container centered-div">
    <div class="form-group">
      <label for="formGroupExampleInput">Example label</label>
      <input type="text" class="form-control is-valid" id="formGroupExampleInput" placeholder="Example input">
      <div class="valid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Another label</label>
      <input type="text" class="form-control is-invalid" id="formGroupExampleInput2" placeholder="Another input">
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Submit form</button>
  </form>
</div>
</body>

</html>